.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgreen;    
}

.patriotLogo {
    height: 50px;
    object-fit: contain;
}

.navButton{
    padding: 20px;
}

.icButton{
    height: 70px;
    width: 70px;
}