.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-header {
    display: inline-block;
    text-align: center;
    border-bottom: solid green 3px;
    height: 60px;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 5px;
}

.help-body {
    position: relative;
    bottom: -100px;
}

.help-body li{
    color: #000;
    
}

.help-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-intro h4{
    border-bottom: solid lightgreen 2px;
    width: 400px;
    text-align: center;

    padding: 10px;
}

.help-image-wrapper{
    padding: 10px;
}

.help-image{
    height: 300px;
    object-fit: contain;
    display: flex;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 3px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: black;
    
    border-radius: 5%;

    margin-right: 150px;
}

.help-button{
    width: 450px;
    object-fit: contain;
    display: flex;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 3px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: black;
    
    border-radius: 5%;

}

.help-item{
    display: flex;
}