.matches > h2{
    display: inline-block;
    text-align: center;
    border-bottom: solid green 3px;
    
    height: 40px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding: 5px;
}

.matches-body{
    display: flex;
    flex-direction: column;

    position: relative;
    bottom: -100px;
}

.matches-profile{
    display: flex;
    flex-direction: row;
    
    margin-bottom: 10px;
    border: 3px solid black;
}

.matches-profpic{
    padding: 5px;
}

.matches-userinfo{
    padding: 5px;
}

.matches-userinfo2{
    margin: auto;
}

.matches-unmatch_Button{
    float: right;
    padding: 10px; 
}



